.mainDiv {
  display: flex;
  flex-direction: row;
  border: 2px solid red;
  justify-content: space-evenly;
}

.subDiv {
  display: flex;
  flex-direction: column;
  border: 4px solid red;
  margin: 50px;
  padding: 50px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(57, 163, 250, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0px
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 60%;
}

.modal-title {
  background-color: blue;
  margin-top: 0px;
}
#modal-h1 {
  margin-top: 0px;
padding: 20px
}
.modal-description{
  background-color: lightpink;
  padding: 20px
}
.modal-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
